section{
    max-width: 1000px;
    margin: 0 auto;
}

h2{
    text-align: center;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

img{
    width: 200px;
    height: auto;
}