.news-gallery {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin: 20px;
}

.news-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.news-gallery img:hover {
    transform: scale(1.5);
}

.news1-wrap-grid {
    display: flex;
    flex-direction: row;
}

.news-paragraph-wrap {
    margin: 20px;
    margin-top: 0px;
}

.news-paragraph-wrap p {
    width: 600px;
}