.product{
    background-color: lightgray; 
    width: 210px;
    padding-bottom: 10px;
    height: 100%;
}

.product:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.product>img{
    width: 100%;
    height: auto;
}

.product>p{
    padding-left: 20px;
    padding-right: 20px;
}